@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// work/projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr;
  grid-template-areas: "project-card";
  min-width: 250px;
}

.project-card {
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "project-img"
    "content"
    "btn-light"
    "btn-dark";
}

.project-img {
  grid-area: project-img;
  max-width: 100%;
}

.project-img:hover {
  transform: scale(1.07);
  transition: 0.3s;
}

.card-content {
  grid-area: content;
  text-align: left;
  background: lighten($primary-color, 15);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0px;
  padding-bottom: 0px;

  .card-title {
    text-align: left;
    font-weight: bold;
  }
}

//text over project image
.textOverImage {
  grid-area: textOverImage;
  width: 100%;
  max-width: 100%;
}

.textOverImage:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.textOverImage:after {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: pre-wrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0 8px;
  content: attr(data-text);
  transition: 0.5s;
}

.textOverImage:hover:after {
  top: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

//supposed to make project headline bold, fail.
.textOverImage:first-line {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

//contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.4rem;
    border: 3px #fff solid;
    padding: 1rem 1.75rem;
    margin-bottom: 3rem;
  }
}

// button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  //margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  grid-area: btn-dark;
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
  margin-bottom: 29px;
}

.btn-light {
  grid-area: btn-light;
  @extend .btn;
  background: lighten($primary-color, 50);
  color: black;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
